*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size:20px;
    text-align: center;
    background-color: aqua;
}
h2{
    font-size:15px;
    background-color: aquamarine;
}

span{
    font-size:10px;
    font-style:italic;
}

p{
    font-size:8px;
    background-color: azure;
}

ul{
    background-color: azure;
}

a{
    background-color: azure;
}